.error__link {
  color: $main-color;
}

.error {
  @extend .error__link;
  margin: 120px 57px;
  text-align: center;

  span {
    display: block;
  }

  &__title {
    font-size: 6.4rem;
    font-weight: 700;
    @media screen and (min-width: $width-tablette) {
      font-size: 12.2rem;
    }
    @media screen and (min-width: $width-desktop) {
      font-size: 18rem;
    }
  }

  &__description {
    font-size: 1.15rem;
    line-height: 142.6%;
    margin: 113px 0;
    @media screen and (min-width: $width-tablette) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: $width-desktop) {
      font-size: 2.25rem;
    }
  }

  a {
    font-size: 0.9rem;
    text-decoration: underline;
    @media screen and (min-width: $width-tablette) {
      font-size: 1.15rem;
    }
  }
}
