.footer {
  @include size(210px, 100%);
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 100%;
  padding-top: 66px;

  .footer__legal {
    @include font(500, 0.8rem, 142.6%, #fff);
    display: block;
    width: 135px;
    text-align: center;
    margin-top: 10px;

    @media screen and (min-width: $width-tablette) {
      width: auto;
      font-size: 1.25rem;
      margin-top: 40px;
    }

    @media screen and (min-width: $width-desktop) {
      font-size: 1.6rem;
    }
  }
}
