@mixin collapse {
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.wrapper-collapse {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: $width-tablette) {
    margin-bottom: 30px;
  }
}

.collapse-description {
  @include collapse;
  @include font(400, 0.8rem, 142.6%, $main-color);
  background: #f7f7f7;
  // padding-top: 3rem;
  // margin-top: -30px;
  padding: 0;
  // transition: height 0.3s ease-in-out;
  // height: 0px;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease;

  @media screen and (min-width: $width-tablette) {
    // padding-top: 3rem;
    font-size: 1.12rem;
  }

  div {
    overflow: hidden;

    span {
      padding-top: 20px;
    }
  }
}

.active {
  grid-template-rows: 1fr;
  height: auto;
  overflow: auto;
}

.styletest {
  padding: 20px;
}

.collapse-bar {
  @include collapse;
  @include font(500, 0.8rem, 142.6%, #fff);
  position: relative;
  padding: 10px;
  background: $main-color;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .desktop-btn {
    @media screen and (min-width: $width-tablette) {
      width: 24px;
      cursor: pointer;
    }
  }

  @media screen and (min-width: $width-tablette) {
    font-size: 1.6rem;
  }
}
