.card {
  @include size(255px, auto);
  margin: $margin-mobile;
  position: relative;

  @media screen and (min-width: $width-tablette) {
    max-width: 340px;
    max-height: 340px;
    @include size(23vw, 23vw);
  }

  img {
    @include size(100%, 100%);
    border-radius: 10px;
    background-color: $main-color;
    object-fit: cover;
  }

  .mask-over {
    @include overlay;
    border-radius: 10px;
    // background: linear-gradient(
    //   180deg,
    //   rgba(255, 255, 255, 0) 0%,
    //   rgba(0, 0, 0, 0.5) 100%
    // );
    background: rgb(255, 96, 96);
    background: linear-gradient(
      180deg,
      rgba(255, 96, 96, 0.5032213569021359) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );

    &:hover {
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
    }
  }

  figcaption {
    @include size(auto, 60%);
    @include font(500, 1.15rem, 142.6%, #fff);
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  &:hover {
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
