.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $margin-mobile;

  @media screen and (min-width: $width-tablette) {
    margin: $margin-desktop;
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;

  a.active {
    text-decoration: underline;
    color: $main-color;
  }

  li {
    margin-left: 19px;
    color: $main-color;
    font-size: 0.8rem;
    text-transform: uppercase;

    @media screen and (min-width: $width-tablette) {
      text-transform: none;
      font-size: 1.6rem;
      margin-left: 60px;
    }
  }
}

.logo {
  width: 145px;
  height: fit-content;

  @media screen and (min-width: $width-tablette) {
    width: 210px;
  }
}

.logo-container,
nav {
  width: 50%;
}
