.renting-description {
  margin: $margin-mobile;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $width-tablette) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: $width-desktop) {
    margin: $margin-desktop;
  }

  &__title {
    @include font(500, 1.15rem, 142.6%, $main-color);
    @media screen and (min-width: $width-tablette) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: $width-desktop) {
      font-size: 2.25rem;
    }
  }

  &__location {
    @include font(500, 0.875rem, 142.6%, $main-color);
    display: inline-block;
    margin: 8px 0;
    @media screen and (min-width: $width-tablette) {
      font-size: 1.01rem;
    }
    @media screen and (min-width: $width-desktop) {
      font-size: 1.15rem;
    }
  }

  &__tags {
    display: flex;
  }

  &__host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    @media screen and (min-width: $width-tablette) {
      flex-direction: column;
      margin-top: 0;
    }
  }
}

.renting-collapse {
  margin: $margin-mobile;
  @media screen and (min-width: $width-tablette) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (min-width: $width-desktop) {
    margin: $margin-desktop;
  }

  &__wrapper {
    @media screen and (min-width: $width-tablette) {
      width: 47%;
    }
  }
}
