.home-banner {
  @include size(111px, auto);
  margin: $margin-mobile;
  position: relative;

  @media screen and (min-width: $width-tablette) {
    @include size(223px, auto);
    margin: $margin-desktop;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    @include size(auto, 65%);
    @include font(500, 1.5rem, 100%, #fff);
    margin-left: 16px;

    @media screen and (min-width: $width-tablette) {
      margin: 0;
      font-size: 3rem;
      @include size(auto, 100%);
      text-align: center;
    }
  }
}

.image {
  @include size(100%, 100%);
  object-fit: cover;
  border-radius: 10px;

  @media screen and (min-width: $width-tablette) {
    border-radius: 25px;
  }
}

.about-banner {
  @include size(223px, auto);
  margin: $margin-mobile;
  position: relative;

  @media screen and (min-width: $width-tablette) {
    margin: $margin-desktop;
  }
}

.overlay {
  @include overlay;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 10px;

  @media screen and (min-width: $width-tablette) {
    border-radius: 25px;
  }
}
