#footer {
  height: 210px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 100%;
  padding-top: 66px;

  .legal {
    display: block;
    color: #fff;
    font-size: 0.8rem;
    width: 135px;
    text-align: center;
    line-height: 142.6%;
    margin-top: 10px;

    @media screen and (min-width: $width-tablette) {
      width: auto;
      font-size: 1.6rem;
      margin-top: 40px;
    }
  }
}
